# Dependencies
/node_modules

# Production
/build
/dist

**/.idea

**/venv

**/__pycache__/
/test

**/.vscode
**/.pio

**/protofiles-out

src/build_info.py

!downloads/**/qroma.exe
